body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #3c1053, #6a0572); 
  color: #b3b3b3;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0;
  padding: 0;
}



